<html>
<head>


    <link href='http://fonts.googleapis.com/css?family=Montserrat:700|Karla:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/syntax.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/simplegrid.css">
    <script src="js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/test.js" type="text/javascript" charset="utf-8"></script>

    
    <script>
       function downloadInnerHtml(filename, elId, mimeType) {
    var elHtml = document.getElementById(elId).innerHTML;
    var link = document.createElement('a');
    mimeType = mimeType || 'text/plain';

    link.setAttribute('download', filename);
    link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(elHtml));
    link.click(); 
}

var fileName =  'tags.html'; // You can use the .txt extension if you want


$('#downloadLink').click(function(){
    downloadInnerHtml(fileName, 'script-download','text/html');
});



    </script>
    <script>
        $(document).ready(function () {

            // Grab the text from the JS constant file, and show it
            prepareAndShowFontLayout();

        });
        
    </script>
  
</head>

<body>