<div class="grid grid-pad">


    {% for tag in site.tags %} {% assign t = tag | first %} {% assign posts = tag | last %} {% for post in posts %} {% if post.tags contains t %}
    <div class="post">
        <div class="col-1-4">
            <a class="tile_link" href="{{ post.link }} ">
                <div class="tile {{ post.background }} {{ post.catagory }}">
                    <div class="category">{{ post.category }}{{ post.tags }}</div>
                    <input type="checkbox" id="{{ post.name }}" onchange="refreshFeatures()">{{ post.title }} &nbsp;

{{ post.date | date: '%B %d, %Y' }}


                    </h2> {{ post.content }}

                </div>
            </a>
        </div>
    </div>

    {% endif %} {% endfor %} {% endfor %}

</div>



<div class="grid grid-pad">
    <div class="col-1-3 mobile-col-1-3 push-1-3">

Add PPAs
        <div class="code_display">
            <p id="csscode"></p>
        </div>
Install Packages
        <div class="code_display">
            <p id="csscode2"></p>
        </div>
    </div>
</div>